body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: contain;
    background-position: center;
    z-index: -1;
}

.container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    border-radius: 10px;
    overflow: hidden;
}

.counter-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(21, 132, 0, 0.4);
}

button {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background: #4c79c2;
    border: none;
    color: #ffffff;
    padding: 10px 25px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;
    transition: color 0.4s ease;
    overflow: hidden;
}

button .border {
    position: absolute;
    background-color: red;
}

.top {
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    height: 2px;
}

.right {
    width: 2px;
    height: 100%;
    top: 0;
    right: 0;
    transform: translateY(-100%);
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.bottom {
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    transform: translateX(100%);
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.left {
    width: 2px;
    height: 100%;
    top: 0;
    left: 0;
    transform: translateY(100%);
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover .top {
    transform: translateX(0);
    transition-delay: 0ms;
}
button:hover .right {
    transform: translateY(0);
    transition-delay: 500ms;
}
button:hover .bottom {
    transform: translateX(0);
    transition-delay: 1000ms;
}
button:hover .left {
    transform: translateY(0);
    transition-delay: 1500ms;
}

button:not(:hover) .left {
    transform: translateY(100%);
    transition-delay: 0ms;
}
button:not(:hover) .bottom {
    transform: translateX(100%);
    transition-delay: 500ms;
}
button:not(:hover) .right {
    transform: translateY(-100%);
    transition-delay: 1000ms;
}
button:not(:hover) .top {
    transform: translateX(-100%);
    transition-delay: 1500ms;
}

p {
    font-size: 20px;
    color: #ffffff;
}

#count {
    font-size: 50px;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}

#count.scale {
    transform: scale(1.5);
}

#last-update {
    padding: 0 5px;
}